@page "/changePassword"
@using RZA_OMwebsite.Utilities
@using RZA_OMwebsite.Services
@using RZA_OMwebsite.Pages
@inject UserSession UserSession
@inject CustomerService CustomerService
@inject NavigationManager NavigationManager
@inject PageService PageService
@inject ISnackbar Snackbar

@rendermode InteractiveServer

<MudPaper Class="pa-4 mx-auto" MaxWidth="400px" Elevation="4">
    <h3>Change Password</h3>

    <MudTextField Label="Old Password"
                  Type="password"
                  @bind-Value="oldPassword"
                  Required="true"
                  Adornment="Adornment.Start"
                  Icon="@Icons.Material.Filled.Lock" />
    <br />
    <MudTextField Label="Confirm Old Password"
                  Type="password"
                  @bind-Value="oldPasswordConfirm"
                  Required="true"
                  Adornment="Adornment.Start"
                  Icon="@Icons.Material.Filled.Lock" />
    <br />
    <MudTextField Label="New Password"
                  Type="password"
                  @bind-Value="newPassword"
                  Required="true"
                  Adornment="Adornment.Start"
                  Icon="@Icons.Material.Filled.Lock" />
    <br />
    <MudButton OnClick="@ChangePassword" Color="Color.Primary" Variant="Variant.Filled">
        Change Password
    </MudButton>
</MudPaper>

@code {
    private string? newPassword;
    private string? oldPassword;
    private string? oldPasswordConfirm;
    private bool first = true;
    private async Task ChangePassword()
    {
        if (oldPassword == oldPasswordConfirm)
        {
            
        string hashedNewPassword = PasswordUtils.HashPassword(newPassword);
        string hashedOldPassword = PasswordUtils.HashPassword(oldPassword); 
        await CustomerService.ChangePassword(UserSession.customerId, hashedOldPassword, hashedNewPassword);            
        Snackbar.Add("Password changed successfully!", Severity.Success);
        NavigationManager.NavigateTo("/account-status");
        }
        else
        {
            Snackbar.Add("Old passwords do not match. Please try again.", Severity.Error);
        }
    }

    protected override async Task OnInitializedAsync() { }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Get the current page URL (this can be adjusted depending on how you're tracking page URL)
            var currentPageUrl = NavigationManager.Uri.Substring(22);

            // Call the method to track the page view
            await PageService.TrackPageViewAsync(currentPageUrl);
            first = false;
        }
    }

}
